## Saving the datafame into csv files to specifc location

In [3]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Suraj Pandey\OneDrive\Desktop\Learning\Python\Pandas\Excel Files\pokemon_data.csv')

## Changing the data Fame

In [7]:
df["Total"] =df.iloc[:,4:10].sum(axis=1)

cols = list(df.columns.values)
df = df [cols[0:4] + [cols[-1]] + cols [4:12]]

df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,591,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,750,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,970,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,1170,80,100,123,122,120,80,1
4,4,Charmander,Fire,NaN,False,553,39,52,43,60,50,65,1

## Saving the datafame into csv files to specifc location

In [6]:
df.to_csv(r"C:\Users\Suraj Pandey\OneDrive\Desktop\Learning\Python\Pandas\Excel Files\modfied_pokemon_data.csv",index=False)
# used index to remove the index from the data fame 

df.to_excel(r"C:\Users\Suraj Pandey\OneDrive\Desktop\Learning\Python\Pandas\Excel Files\modfied_pokemon_data.xlsx",index=False)